.event-card {
  .photo-accessory {
    float: right;
    object-fit: cover;
    width: 45%;
    margin-left: 1rem;
    margin-right: 0;
  }
  &:nth-child(even) {
    .photo-accessory {
      margin-left: 0;
      margin-right: 1rem;
      float: left;
    }
  }
}
.event-card > div {
  align-items: center;
  flex: 1;
}
.event-body {
  margin: 1rem 0;
}
.social {
  display: flex;
  flex-direction: column;
  color: #{$secondary-text};
  gap: 1rem;
  .title {
    text-align: center;
  }
}
