h1,
h2,
h3,
h4,
h5,
h6 {
  width: 100%;
  font-family: "Cinzel", serif;
}
p,
span {
  font-family: "Roboto", sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  background-color: #{$secondary-color};
  font-family: "Roboto", sans-serif;
  margin: auto;
  max-width: 1100px;
  // height: 100vh;
}

.btn {
  max-width: 220px;
  min-width: 80px;
  min-height: 40px;
  align-items: center;
}
.form-control {
  height: 3rem;
}

// for accessibiblity
@media (prefers-reduced-inputdirection: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}
