.lobby {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 1rem 0;
}
.lobby-data {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.lobby-options {
  padding: 1rem;
  background-color: #{$primary-color};
  border-radius: 4px;
}
.lobby-buttons {
  display: flex;
  justify-content: space-between;
}
.lobby-toggle-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.logger {
  border-radius: 4px;
  max-height: 50vh;
  overflow-y: auto;
  background-color: #{$primary-color};
  padding: 1rem;
  .log {
    border-bottom: 1px solid #3d3b3d;
  }
}
.glow {
  // background-color: #{$secondary-color};
  border: none;
  color: white;
  // animation: fadeOut 2s infinite alternate ease-in;
}
.dim {
  // background-color: #1b1a1b;
  color: white;
  border: none;
}
