$exes: url("../assets/exes.svg");
$circle: url("../assets/circle.svg");
$exesGray: url("../assets/exes-gray.svg");
$circleGray: url("../assets/circle-gray.svg");

.tictactoe {
  .cell {
    border: 2px solid #7d4141;
    position: relative;
  }
}
.exes {
  background: $exes no-repeat center;
  background-size: contain;
}
.circle {
  background: $circle no-repeat center;
  background-size: contain;
}
.player1:not(.exes):not(.circle):hover,
.player1:not(.exes):not(.circle):hover {
  background: $circleGray no-repeat center;
  background-size: contain;
}
.player1:not(.exes):not(.circle):hover {
  background: $exesGray no-repeat center;
  background-size: contain;
}
.player2:not(.exes):not(.circle):hover,
.player2:not(.exes):not(.circle):hover {
  background: $circleGray no-repeat center;
  background-size: contain;
}
.grid .exes,
.grid .circle {
  cursor: not-allowed;
}
