.card-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 150px;
  gap: 1rem;
  .read-more {
    text-align: left;
  }
}
.card-section-header {
  display: flex;
  gap: 1rem;
  .icons {
    background-color: #{$text-color};
    color: #{$secondary-color};
  }
}
.card-section-title {
  display: flex;
  // text-transform: uppercase;
  letter-spacing: 4px;
}
.card-section-subtitle {
  display: flex;
  letter-spacing: 4px;
}
.secondary-card-section {
  .card-header {
    padding: 0;
  }
}
.card-section-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
.card-section-row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  border-bottom: 2px dotted #{$primary-color};
  padding: 0.5rem 0.25rem;
  .form {
    padding: 0;
    .field {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
    input {
      padding: 0.5rem 0 0.5rem 1rem;
    }
    .btn-classic {
      margin: 0;
    }
  }
  .card-section-cost {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    gap: 0.5rem;
  }
  .cost {
    display: flex;
    justify-content: flex-end;
    min-width: 6rem;
    @include devices(mobile) {
      align-items: flex-end;
    }
  }
  .row {
    flex-grow: 1;
  }
  &:hover {
    background-color: #{$primary-color2};
    .read-more {
      &:has(+ .read-more-toggle:not(:checked))::before {
        background: linear-gradient(to bottom, transparent, #{$primary-color2});
      }
    }
  }
}
.empty {
  text-align: center;
}
.details-wrapper {
  display: flex;
  flex-direction: column;
  flex: 3;
  .in-stock {
    padding: 0.5rem 0;
    display: flex;
    justify-content: flex-end;
  }
}
.details {
  display: flex;
  // align-items: flex-start;
  // justify-content: flex-start;
  gap: 1rem;
  .card-header {
    min-width: 150px;
    padding: 0;
    @include devices(mobile) {
      min-width: auto;
    }
  }
  .read-more-wrapper {
    max-width: 350px;
  }
  .row {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    div {
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;
    }
  }
  // @include devices(mobile) {
  //   flex-wrap: wrap;
  // }
}
.section-card {
  display: flex;
  flex-wrap: wrap;
  * {
    flex: 1;
    padding: 0.5rem;
    min-width: 250px;
    border-bottom: 1px solid #eee;
  }
}
