.card {
  @include card();
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  padding: 1rem;
  gap: 1rem;
  box-shadow: 1px 0 3px 2px #eee;
  min-width: 200px;
  max-width: 280px;
  .hero {
    border-radius: 1rem;
    width: 100%;
  }
  &:has(> div > .ribbon) {
    position: relative;
    // height: auto;
    max-width: 275px;
    .btn-primary {
      background-color: #{$secondary-color2};
      margin: auto;
    }
  }
  @include devices(mobile) {
    min-width: auto;
    max-width: auto;
  }
}
.card-header {
  display: flex;
  flex-direction: column;
  // padding: 1rem;
  gap: 1rem;
  .card-header-heading {
    text-align: left;
  }
}
.card-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  // gap: 1rem;
  // gap: 1rem;
  text-align: left;
  &:has(> .btn-primary) {
    justify-content: space-between;
    .btn-primary {
      flex: none;
    }
  }
}
.card-footer {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-direction: column;
  padding-top: 0;
  .card-header {
    padding: 0;
  }
}
.secondary-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  min-width: 200px;
  gap: 1rem;
}
.secondary-card-body {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  // .third-btn {
  //   flex: none;
  //   display: flex;
  //   gap: 1rem;
  //   justify-content: flex-start;
  //   width: 100%;
  // }
  // .third-btn[data-state="booked"] {
  //   // background-color: #{$third-color2};
  // }
}
.ribbon {
  position: absolute;
  top: 0.3rem;
  right: -2.5rem;
  rotate: 35deg;
  background-color: purple;
  border: 1px solid white;
  color: white;
  padding: 0.25rem 4rem;
}
.cancel-row {
  min-width: 250px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.cancel-row-footer {
  display: flex;
  gap: 1rem;
  padding-bottom: 2rem;
}
.card-item {
  display: flex;
  flex-direction: column;
  box-shadow: 1px 0 3px 2px #eee;
  min-width: 250px;
  flex: 1;
}
