.dashboard {
  background-color: $primaryLightBg;
  padding: 1rem;
  border-radius: 4px;
}

.avatar-frame {
  margin: auto;
}
.avatar {
  border-radius: 50%;
  margin: auto;
}
.player-info {
  margin: 0 2rem;
  width: 100%;
}
