.dashboard {
  margin: auto;
}
.avatar-frame {
  margin: auto;
  min-height: 150px;
}

.avatar {
  border-radius: 50%;
  width: 120px;
  height: 100px;
  margin: auto;
}
.player-info {
  margin: 0 2rem;
  width: 100%;
}
