.game-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  @media #{$tablet} {
    .game-players {
      display: flex;
      justify-content: space-around;
    }
  }
  .game-players {
    display: flex;
    justify-content: center;
  }
}
.singlePlayer{
  display: flex;
  justify-content: center;
}