.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: #f3f5f5;
}
.header-logo {
  display: flex;
  align-items: center;
  padding: 1rem;
}
