.homepage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.game-card {
  max-width: 15rem;
  max-height: 15rem;
  background-color: #f3f5f5;
  color: black;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  margin: 1rem;
  padding: 1rem;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: #01ca44;
    color: white;
  }
}
.icon-frame {
  max-width: 10rem;
  max-height: 10rem;
}