@import "./variables.scss";
@import "./keyframes.scss";
@import "./homepage.scss";
@import "./headerfooter.scss";
@import "./tictactoe.scss";
@import "./profile.scss";

#root {
  background-color: whitesmoke;
}
.app {
  display: flex;
  flex-direction: column;
  background-color: #3d3b3d;
  font-family: "Roboto", sans-serif;
  margin: auto;
  max-width: 1100px;
  height: 100vh;
}
.card {
  min-width: 300px;
  @media only screen and (max-width: 425px) {
    min-width: auto;
  }
}
.btn {
  max-width: 220px;
  min-height: 40px;
  align-items: center;
}
.form-control {
  height: 3rem;
}

// for accessibiblity
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}
