.lobby {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 1rem 0;
}
.lobby-data {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.lobby-options {
  padding: 1rem;
  background-color: #f8f9fa;
  border-radius: 4px;
}
.lobby-buttons {
  display: flex;
  justify-content: space-between;
}
.lobby-toggle-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.logger {
  border-radius: 4px;
  max-height: 50vh;
  overflow-y: auto;
  background-color: #f8f9fa;
  padding: 1rem;
  .log {
    border-bottom: 1px solid #3d3b3d;
  }
}
