.frame {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: auto;
}
.player-info {
  margin: 0 2rem;
  width: 100%;
}
.player-card {
  background-color: #fcfcfc;
  border-radius: 4px;
  padding: 1rem;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  max-width: 350px;
}
