.snake-game{
  &:focus {
    border: 2px solid rgb(11, 175, 107);
  }
  .cell {
    border: 1px solid rgb(12, 223, 135);
    background-color:rgb(12, 223, 135) ;
    display: flex;
    width: 5rem;
    height: 5rem;
  }
  .snake {
    background-color: rgb(33, 168, 62);
  }
  .food {
    background-color: rgb(171, 173, 13);
  }
} 
 