// We define the mixins for two major breakpoints mobile and tablet

// $breakpoint is the variable that can have several values
@mixin devices($breakpoint) {
  //the name of the mixin is devices
  @if $breakpoint == tablet {
    @media only screen and (max-width: #{$table}) {
      @content;
    }
  }
  @if $breakpoint == mobile {
    @media only screen and (max-width:  #{$mobile}) {
      @content;
    }
  }
  @if $breakpoint == mini {
    @media only screen and (max-width:  #{$mini}) {
      @content;
    }
  }
}
// retrieve css variable
@function color($color-name) {
  @return var(--data-color-#{$color-name});
}
@mixin card() {
  display: flex;
  gap: 1rem;
  border-radius: 4px;
}
