$danger: #f93131;
$success: #320064;

$primary-color: #282828;
$primary-color2: #343541;
$primary-color3: #292174;

$secondary-color: #00b358;
$secondary-color2: #202123;
$secondary-color3: #003300;

$primary-text: #fff;
$text-color2: rgb(134, 134, 134);
$text-color3: rgb(0, 0, 0);
$instagram: #ea4c52;
// shadow blends
$shadow-color: #ddd;
$shadow-color2: purple;
$shadow-color3: #eee;
/* readmore lines */
$max-lines: 2;
$line-height: 1.4;
/*  media queries */
$desktop: "only screen and (max-width : 1024px)";
$tablet: "only screen and (max-width : 768px)";
$mobile: "only screen and (max-width : 480px)";

$table: 680px;
$mobile: 500px;
$mini: 375px;
