$danger: #f93131;
$success: #320064;
// #f1f7ed
// #54494b
// #b33951

// #91C7b1
// #e3d081

$primary-color: #b33951;
$primary-color2: #e3d081;
$primary-color3: #91c7b1;

// $secondary-color: #f1f7ed;
// $secondary-color2: #54494b;
$secondary-color: #54494b;
$secondary-color2: #f1f7ed;

$primary-text: #333;
$secondary-text: #eee;
$text-color3: rgb(0, 0, 0);
$instagram: #ea4c52;
$twitter: #1da1f2;
// shadow blends
$shadow-color: #eee;
$shadow-color2: purple;
$shadow-color3: #ddd;
/* readmore lines */
$max-lines: 2;
$line-height: 1.4;
/*  media queries */
$desktop: "only screen and (max-width : 1024px)";
$tablet: "only screen and (max-width : 768px)";
$mobile: "only screen and (max-width : 480px)";

$table: 680px;
$mobile: 500px;
$mini: 375px;
